body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #ffffeb;
	margin: 0;
}

header {
	height: 150px;
	background-image: url(img/enschede.webp);
	background-position: center;
	color: white;
}

h1 {
	transform: translate(25%, 150%);
	margin: auto;
	width: 300px;
}

section {
	margin: 0;
	width: 100%;
}

li {
	padding-top: 15px;
}

.red {
	background-color: rgb(252, 191, 191);
}

[class*='col-'] {
	width: 100%;
	padding: 15px;
}

.tekst-element {
	display: block;
	width: 100%;
	min-height: 250px;
}

/* Op schermen groter dan 768px */
@media only screen and (min-width: 768px) {
	[class*='col-'] {
		padding: 15px;
	}
	section {
		display: flex;
	}
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

img {
	margin: 5px;
	float: right;
	max-height: 200px;
}

footer {
	height: auto;
	background-color: antiquewhite;
	width: auto;
}

footer p {
	padding: 10px;
	margin: 0;
}
