body {
	background-color: #f2ffe3;
}

img {
	width: 220px;
	height: auto;
}

.activepage {
	color: orange;
}

li {
	list-style: none;
}

.band-link {
	text-decoration: none;
	color: black;
}

footer {
	height: 200px;
	background-color: #c3daaa;
}

footer p {
	width: 100%;
	text-align: center;
	padding: 2rem 25%;
}

.btn {
	margin: 10px 0;
	background-color: orange;
}
