body {
	background-color: #ededf5;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	padding: 20px;
}

header {
	text-align: center;
}

img {
	width: 25%;
	float: left;
	margin: 10px;
	border: white 3px solid;
	padding: 2px;
	border-radius: 5px;
}
div {
	margin: 15px;
	padding: 5px;
	border-radius: 20px;
}

.drie img {
	float: right;
}

.een {
	background-color: aliceblue;
}

.twee {
	background-color: azure;
}

.drie {
	background-color: beige;
}

.een img:hover {
	filter: opacity(50%);
}

.twee img {
	filter: none;
}

.drie img:hover {
	filter: saturate(40%);
}
